<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFCommentActionText</key>
				<string>🙏 Original by: [@Cost_Internal](https://www.reddit.com/user/Cost_Internal)</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>label</string>
				<key>UUID</key>
				<string>1CEF761B-77DE-47CC-B535-9D7A20989D39</string>
				<key>WFTextActionText</key>
				<string>Silent Alarm</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.apple.mobiletimer-framework.MobileTimerIntents.MTGetAlarmsIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>ActionRequiresAppInstallation</key>
					<true/>
					<key>AppIntentIdentifier</key>
					<string>AlarmEntity</string>
					<key>BundleIdentifier</key>
					<string>com.apple.clock</string>
					<key>Name</key>
					<string>Clock</string>
					<key>TeamIdentifier</key>
					<string>0000000000</string>
				</dict>
				<key>UUID</key>
				<string>C349907A-4677-4DF3-89BF-006FA4462180</string>
				<key>WFContentItemFilter</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFActionParameterFilterPrefix</key>
						<integer>1</integer>
						<key>WFActionParameterFilterTemplates</key>
						<array>
							<dict>
								<key>Operator</key>
								<integer>4</integer>
								<key>Property</key>
								<string>label</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>String</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>attachmentsByRange</key>
											<dict>
												<key>{0, 1}</key>
												<dict>
													<key>OutputName</key>
													<string>label</string>
													<key>OutputUUID</key>
													<string>1CEF761B-77DE-47CC-B535-9D7A20989D39</string>
													<key>Type</key>
													<string>ActionOutput</string>
												</dict>
											</dict>
											<key>string</key>
											<string>￼</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
								</dict>
							</dict>
						</array>
						<key>WFContentPredicateBoundedDate</key>
						<false/>
					</dict>
					<key>WFSerializationType</key>
					<string>WFContentPredicateTableTemplate</string>
				</dict>
				<key>WFContentItemLimitEnabled</key>
				<true/>
				<key>WFContentItemLimitNumber</key>
				<real>1</real>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>1A831CC8-1961-4B82-B7EE-7A2B95271573</string>
				<key>WFCondition</key>
				<integer>100</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Alarms</string>
							<key>OutputUUID</key>
							<string>C349907A-4677-4DF3-89BF-006FA4462180</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.apple.clock.DeleteAlarmIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>AppIntentIdentifier</key>
					<string>DeleteAlarmIntent</string>
					<key>BundleIdentifier</key>
					<string>com.apple.mobiletimer</string>
					<key>Name</key>
					<string>Clock</string>
					<key>TeamIdentifier</key>
					<string>0000000000</string>
				</dict>
				<key>UUID</key>
				<string>E7828FCE-F2B7-4E6F-A27D-AEF19D7CB1AF</string>
				<key>entities</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Alarms</string>
						<key>OutputUUID</key>
						<string>C349907A-4677-4DF3-89BF-006FA4462180</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>E9EC61BA-026A-45FD-A9D6-B13ED5B023D8</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>DB53B8EE-E9F7-44E2-B523-098556EF3A38</string>
					<key>workflowName</key>
					<string>Connect to Internet</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Connect to Internet</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>58A506AE-0B28-4A92-84AA-E9398F95C1BD</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>9C48945F-7E22-4EFA-9334-61777791A46C</string>
					<key>workflowName</key>
					<string>isOnline?</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>isOnline?</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>0FB21A35-A5DD-4BBF-9A17-C58451F61EF0</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFBooleanContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
							</array>
							<key>OutputName</key>
							<string>Shortcut Result</string>
							<key>OutputUUID</key>
							<string>58A506AE-0B28-4A92-84AA-E9398F95C1BD</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>A7F816B9-E67D-4448-8ACB-894DA276773E</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>E1A928AD-957E-4ADE-9517-97FA250B17FB</string>
					<key>workflowName</key>
					<string>🤓 Visual Of The Day</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>🤓 Visual Of The Day</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>D8ED6AB4-442D-4CF1-8CA2-7270A26B4FE1</string>
				<key>WFTextActionText</key>
				<string>Meditations</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>00042515-2936-4CA1-81F9-FEEF2CACE1D6</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Text</string>
						<key>OutputUUID</key>
						<string>D8ED6AB4-442D-4CF1-8CA2-7270A26B4FE1</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>29F59FD6-85E7-4590-A864-24194F7E7719</string>
					<key>workflowName</key>
					<string>Get Random Excerpts from PDF</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Get Random Excerpts from PDF</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>5FE55F2E-9BD8-4368-916C-DEACFEB08EC6</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>28EB156D-C92A-4C5B-BCDD-76DCC29FF641</string>
					<key>workflowName</key>
					<string>🚢 Transfer Quick Notes to Inbox</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>🚢 Transfer Quick Notes to Inbox</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>26188812-5386-4B02-8DA3-D23E065693A6</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>7C8BA808-DF01-4BF5-9022-FA8282222CFC</string>
					<key>workflowName</key>
					<string>Log Life Progress</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Log Life Progress</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>4E2697FD-7026-4BF9-96A9-D3D5CE218B03</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>C0DCEE89-B391-464B-B95A-DF15667BA798</string>
					<key>workflowName</key>
					<string>Export Data Jar</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Export Data Jar</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>8D959156-2D37-46ED-A1CE-BCA2F6024DBF</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>A48F8D22-18FB-4402-8925-D036708740FB</string>
					<key>workflowName</key>
					<string>💾 Backup My Vault Repos</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>💾 Backup My Vault Repos</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>0FB21A35-A5DD-4BBF-9A17-C58451F61EF0</string>
				<key>UUID</key>
				<string>70F453DB-C44C-4E8F-9D3D-D179831176FA</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>1A831CC8-1961-4B82-B7EE-7A2B95271573</string>
				<key>UUID</key>
				<string>2B7CD57A-6FF8-44A2-9D14-4ED97FE40DC9</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>74BDD9AB-7815-4C00-8313-0384F4A3AD57</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>B04516DF-4ED2-4833-A84A-401A5FC06AFC</string>
					<key>workflowName</key>
					<string>Set Silent Alarm</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Set Silent Alarm</string>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>3303.0.4</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>2846468607</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFAppContentItem</string>
		<string>WFAppStoreAppContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFFolderContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFImageContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFLocationContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFAVAssetContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFRichTextContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array>
		<string>Watch</string>
	</array>
</dict>
</plist>
