<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>dk.simonbs.DataJar.GetValueIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>F7B57EE9-FF74-4E16-93B3-8078680723F4</string>
				<key>keyPath</key>
				<string>My Focus Mode.#MaintainerMode.startTime</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>2F2F2F6A-6726-4718-9861-417B24F1F6AD</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>64352340-E70F-4D72-8B10-9DCD65333E32</string>
					<key>workflowName</key>
					<string>getDayOfWeek</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>getDayOfWeek</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>75801E0A-EA79-4422-A6F2-1618628AF331</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFConditionalActionString</key>
				<string>Sunday</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Shortcut Result</string>
							<key>OutputUUID</key>
							<string>2F2F2F6A-6726-4718-9861-417B24F1F6AD</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.date</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>B8573BCD-9529-46C3-9005-6D828CBAA560</string>
				<key>WFDateActionDate</key>
				<string>Tomorrow</string>
				<key>WFDateActionMode</key>
				<string>Specified Date</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>61A05565-D898-49B6-A5C4-EF2ECCAF14FE</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Date</string>
						<key>OutputUUID</key>
						<string>B8573BCD-9529-46C3-9005-6D828CBAA560</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>62486A0E-5C10-4249-9B8A-7A7DEDDD8A74</string>
					<key>workflowName</key>
					<string>getWeekNumber1</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>getWeekNumber1</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.addnewreminder</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>B48E043E-EA5D-4D1C-B54C-C9935AF0DA22</string>
				<key>WFAlertCustomTime</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Value</string>
								<key>OutputUUID</key>
								<string>F7B57EE9-FF74-4E16-93B3-8078680723F4</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFAlertEnabled</key>
				<string>Alert</string>
				<key>WFCalendarDescriptor</key>
				<dict>
					<key>Identifier</key>
					<string>&lt;x-apple-reminderkit://REMCDList/1E8226AF-52CC-43E2-AD89-0E9010ACA706&gt;</string>
					<key>IsAllCalendar</key>
					<false/>
					<key>Title</key>
					<string>🏛️ LifeOS Maintenance</string>
				</dict>
				<key>WFCalendarItemCalendar</key>
				<string>🏛️ LifeOS Maintenance</string>
				<key>WFCalendarItemNotes</key>
				<string>• Define what a "win" looks like for the week ahead with 3-5 big picture goals
• If any items didn’t get done by the end of the week, roll them over to the next weekly note or drop/delete them.
• You might add more items to it during the week.
• [The Energy Investment Portfolio](https://aliabdaal.com/newsletter/the-energy-investment-portfolio/)
    • Dream Investments: Things that you want to do at some point, but probably not right now; can be as long as you like
    • Active Investments: Things that you want to work on right now (e.g., this week); should be limited (~5) based on how much time and energy you’ve got to invest in them</string>
				<key>WFCalendarItemTitle</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{21, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Shortcut Result</string>
								<key>OutputUUID</key>
								<string>61A05565-D898-49B6-A5C4-EF2ECCAF14FE</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>🏆 Weekly Win Card (#￼)</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFPriority</key>
				<string>High</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>75801E0A-EA79-4422-A6F2-1618628AF331</string>
				<key>UUID</key>
				<string>A646B5D7-97F1-445A-A157-79C3E2A604F1</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>BA75E9DF-234F-4ED2-9CE5-0B05222A3E8E</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFConditionalActionString</key>
				<string>Monday</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Shortcut Result</string>
							<key>OutputUUID</key>
							<string>2F2F2F6A-6726-4718-9861-417B24F1F6AD</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.date</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>3F5E3F52-C377-4403-8810-428BE381C5DC</string>
				<key>WFDateActionDate</key>
				<string>Yesterday</string>
				<key>WFDateActionMode</key>
				<string>Specified Date</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>17411D2B-BEB1-4DAE-9063-1CB299BF1C6F</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Date</string>
						<key>OutputUUID</key>
						<string>3F5E3F52-C377-4403-8810-428BE381C5DC</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>62486A0E-5C10-4249-9B8A-7A7DEDDD8A74</string>
					<key>workflowName</key>
					<string>getWeekNumber1</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>getWeekNumber1</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>59B48652-CFF9-44D5-AB3B-D09CD19F3DF2</string>
				<key>WFTextActionText</key>
				<string>📇 Review Last Week's Journals</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>7FDBC2B4-8081-4C5F-BB39-FB015C0DD5EF</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Text</string>
						<key>OutputUUID</key>
						<string>59B48652-CFF9-44D5-AB3B-D09CD19F3DF2</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>A4D0829E-EC6C-4E7E-8088-6EBD82EA8061</string>
					<key>workflowName</key>
					<string>Build Run Shortcut URL</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Build Run Shortcut URL</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.addnewreminder</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>6CA57434-5443-4917-9CE8-DFFA0B26CE60</string>
				<key>WFAlertCustomTime</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Value</string>
								<key>OutputUUID</key>
								<string>F7B57EE9-FF74-4E16-93B3-8078680723F4</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFAlertEnabled</key>
				<string>Alert</string>
				<key>WFCalendarDescriptor</key>
				<dict>
					<key>Identifier</key>
					<string>&lt;x-apple-reminderkit://REMCDList/1E8226AF-52CC-43E2-AD89-0E9010ACA706&gt;</string>
					<key>IsAllCalendar</key>
					<false/>
					<key>Title</key>
					<string>🏛️ LifeOS Maintenance</string>
				</dict>
				<key>WFCalendarItemCalendar</key>
				<string>🏛️ LifeOS Maintenance</string>
				<key>WFCalendarItemTitle</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{24, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Shortcut Result</string>
								<key>OutputUUID</key>
								<string>17411D2B-BEB1-4DAE-9063-1CB299BF1C6F</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>📈 Weekly Kaizen Card (#￼)</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFPriority</key>
				<string>High</string>
				<key>WFURL</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Shortcut Result</string>
								<key>OutputUUID</key>
								<string>7FDBC2B4-8081-4C5F-BB39-FB015C0DD5EF</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>BA75E9DF-234F-4ED2-9CE5-0B05222A3E8E</string>
				<key>UUID</key>
				<string>7DE096AB-6E1B-4470-BD51-DF4C5A5D20DD</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>E7C44732-2B07-46A4-8710-A7E65B866E53</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>B1AC6655-0C00-4A17-B24D-F5177C9349DD</string>
					<key>workflowName</key>
					<string>isTodayEndOfMonth</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>isTodayEndOfMonth</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>D6F8BC64-90D6-48FA-90BF-6434A3B5CE0D</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFBooleanContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
							</array>
							<key>OutputName</key>
							<string>Shortcut Result</string>
							<key>OutputUUID</key>
							<string>E7C44732-2B07-46A4-8710-A7E65B866E53</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.format.date</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>1188B196-8229-4781-BE7A-7BD7D803405C</string>
				<key>WFDate</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>CurrentDate</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFDateFormat</key>
				<string>M</string>
				<key>WFDateFormatStyle</key>
				<string>Custom</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.addnewreminder</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>1963AC3D-BA71-48CE-A766-65D5B4419E2E</string>
				<key>WFAlertCustomTime</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Value</string>
								<key>OutputUUID</key>
								<string>F7B57EE9-FF74-4E16-93B3-8078680723F4</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFAlertEnabled</key>
				<string>Alert</string>
				<key>WFCalendarDescriptor</key>
				<dict>
					<key>Identifier</key>
					<string>&lt;x-apple-reminderkit://REMCDList/1E8226AF-52CC-43E2-AD89-0E9010ACA706&gt;</string>
					<key>IsAllCalendar</key>
					<false/>
					<key>Title</key>
					<string>🏛️ LifeOS Maintenance</string>
				</dict>
				<key>WFCalendarItemCalendar</key>
				<string>🏛️ LifeOS Maintenance</string>
				<key>WFCalendarItemNotes</key>
				<string>✔️ How to measure your life? How wealthy are you? Take the "[Wealth Score Quiz](https://www.wealthscorequiz.com/)"!
• Time
• Social
• Physical
• Mental
• Financial</string>
				<key>WFCalendarItemTitle</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{34, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Formatted Date</string>
								<key>OutputUUID</key>
								<string>1188B196-8229-4781-BE7A-7BD7D803405C</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>🎯 Monthly Milestone Checkpoint (#￼)</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFPriority</key>
				<string>High</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>D6F8BC64-90D6-48FA-90BF-6434A3B5CE0D</string>
				<key>UUID</key>
				<string>896946B6-16CB-40F6-A61C-4B8D5E1F6649</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>24317B38-49DE-42EF-8F66-2730C2FBC76B</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>2051B450-B57D-4713-AAD0-ACAA86D39326</string>
					<key>workflowName</key>
					<string>isTodayEndOfQuarter</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>isTodayEndOfQuarter</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>B2AA201D-D1D0-4F3A-9F64-D342D7C629CB</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFBooleanContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
							</array>
							<key>OutputName</key>
							<string>Shortcut Result</string>
							<key>OutputUUID</key>
							<string>24317B38-49DE-42EF-8F66-2730C2FBC76B</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>F43FB221-F2EE-40AF-896C-FCD08BC51640</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>161B2A05-701D-4426-97D0-E568334553B5</string>
					<key>workflowName</key>
					<string>getQuarterNumber</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>getQuarterNumber</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.addnewreminder</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>4D21F211-050D-4E89-B48D-582D2993B497</string>
				<key>WFAlertCustomTime</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Value</string>
								<key>OutputUUID</key>
								<string>F7B57EE9-FF74-4E16-93B3-8078680723F4</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFAlertEnabled</key>
				<string>Alert</string>
				<key>WFCalendarDescriptor</key>
				<dict>
					<key>Identifier</key>
					<string>&lt;x-apple-reminderkit://REMCDList/1E8226AF-52CC-43E2-AD89-0E9010ACA706&gt;</string>
					<key>IsAllCalendar</key>
					<false/>
					<key>Title</key>
					<string>🏛️ LifeOS Maintenance</string>
				</dict>
				<key>WFCalendarItemCalendar</key>
				<string>🏛️ LifeOS Maintenance</string>
				<key>WFCalendarItemNotes</key>
				<string>✔️ Fear Setting</string>
				<key>WFCalendarItemTitle</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{37, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Shortcut Result</string>
								<key>OutputUUID</key>
								<string>F43FB221-F2EE-40AF-896C-FCD08BC51640</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>🗺️ Quarterly Questline Chronicles (#￼)</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFPriority</key>
				<string>High</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>B2AA201D-D1D0-4F3A-9F64-D342D7C629CB</string>
				<key>UUID</key>
				<string>788EC666-C168-4380-A0CC-05303856A8EA</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.format.date</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>0FDE3EC1-0D7C-4E18-B91F-0D9781244E40</string>
				<key>WFDate</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>CurrentDate</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFDateFormat</key>
				<string>M</string>
				<key>WFDateFormatStyle</key>
				<string>Custom</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>8A7DAF4B-9740-436A-BB1E-6BC33C18EC58</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFConditionalActionString</key>
				<string>12</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Formatted Date</string>
							<key>OutputUUID</key>
							<string>0FDE3EC1-0D7C-4E18-B91F-0D9781244E40</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>87A7DDBF-B951-4CD3-8792-09FE7E55F2C4</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>6F815F11-0DB0-4C0F-BD15-B75DF8F2D159</string>
					<key>workflowName</key>
					<string>isTodayInTheLastWeekOfTheMonth</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>isTodayInTheLastWeekOfTheMonth</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>791F134D-413D-44CF-B667-E7DCB30BEF61</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFBooleanContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
							</array>
							<key>OutputName</key>
							<string>Shortcut Result</string>
							<key>OutputUUID</key>
							<string>87A7DDBF-B951-4CD3-8792-09FE7E55F2C4</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.format.date</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>D716E7B7-1E45-411F-9288-AA73B7A70831</string>
				<key>WFDate</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>CurrentDate</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFDateFormat</key>
				<string>yy</string>
				<key>WFDateFormatStyle</key>
				<string>Custom</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.math</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>3B54D686-11DD-4A2B-87C5-A119F1832EF3</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Formatted Date</string>
						<key>OutputUUID</key>
						<string>D716E7B7-1E45-411F-9288-AA73B7A70831</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFMathOperand</key>
				<string>1</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>16022A60-8559-4CF7-9840-7F5FEECE49D6</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{15, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Calculation Result</string>
								<key>OutputUUID</key>
								<string>3B54D686-11DD-4A2B-87C5-A119F1832EF3</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{8, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Formatted Date</string>
								<key>OutputUUID</key>
								<string>D716E7B7-1E45-411F-9288-AA73B7A70831</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>👋 Bye, ￼' Hi, ￼'</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.filter.reminders</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>789FB7FA-B54E-4C67-904A-8859135006F7</string>
				<key>WFContentItemFilter</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFActionParameterFilterPrefix</key>
						<integer>1</integer>
						<key>WFActionParameterFilterTemplates</key>
						<array>
							<dict>
								<key>Operator</key>
								<integer>4</integer>
								<key>Property</key>
								<string>List</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>Enumeration</key>
									<dict>
										<key>Value</key>
										<string>🏛️ LifeOS Maintenance</string>
										<key>WFSerializationType</key>
										<string>WFStringSubstitutableState</string>
									</dict>
								</dict>
							</dict>
							<dict>
								<key>Operator</key>
								<integer>4</integer>
								<key>Property</key>
								<string>Title</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>String</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>attachmentsByRange</key>
											<dict>
												<key>{0, 1}</key>
												<dict>
													<key>OutputName</key>
													<string>Text</string>
													<key>OutputUUID</key>
													<string>16022A60-8559-4CF7-9840-7F5FEECE49D6</string>
													<key>Type</key>
													<string>ActionOutput</string>
												</dict>
											</dict>
											<key>string</key>
											<string>￼</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
								</dict>
							</dict>
							<dict>
								<key>Operator</key>
								<integer>4</integer>
								<key>Property</key>
								<string>Is Completed</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>Bool</key>
									<dict>
										<key>Value</key>
										<false/>
										<key>WFSerializationType</key>
										<string>WFBooleanSubstitutableState</string>
									</dict>
								</dict>
							</dict>
						</array>
						<key>WFContentPredicateBoundedDate</key>
						<false/>
					</dict>
					<key>WFSerializationType</key>
					<string>WFContentPredicateTableTemplate</string>
				</dict>
				<key>WFContentItemLimitEnabled</key>
				<true/>
				<key>WFContentItemLimitNumber</key>
				<real>1</real>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>2A9F31B5-2B9B-4BF4-B07F-52C2D3A4C6F9</string>
				<key>WFCondition</key>
				<integer>101</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Reminders</string>
							<key>OutputUUID</key>
							<string>789FB7FA-B54E-4C67-904A-8859135006F7</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.addnewreminder</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>89B23543-305A-4AF8-BE15-F717CEA352CB</string>
				<key>WFAlertCustomTime</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Value</string>
								<key>OutputUUID</key>
								<string>F7B57EE9-FF74-4E16-93B3-8078680723F4</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFAlertEnabled</key>
				<string>Alert</string>
				<key>WFCalendarDescriptor</key>
				<dict>
					<key>Identifier</key>
					<string>&lt;x-apple-reminderkit://REMCDList/1E8226AF-52CC-43E2-AD89-0E9010ACA706&gt;</string>
					<key>IsAllCalendar</key>
					<false/>
					<key>Title</key>
					<string>🏛️ LifeOS Maintenance</string>
				</dict>
				<key>WFCalendarItemCalendar</key>
				<string>🏛️ LifeOS Maintenance</string>
				<key>WFCalendarItemNotes</key>
				<string>• My "🧐 Past Year Review + 😉 Annual Planning" process naturally shifted from focusing on _what I wanted to accomplish_ to emphasizing _how I wanted to be_.</string>
				<key>WFCalendarItemTitle</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>16022A60-8559-4CF7-9840-7F5FEECE49D6</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFPriority</key>
				<string>High</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.addnewreminder</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>ACA5F16C-2FDC-467E-AB79-55C84C133A35</string>
				<key>WFAlertCustomTime</key>
				<string></string>
				<key>WFAlertEnabled</key>
				<string>No Alert</string>
				<key>WFCalendarDescriptor</key>
				<dict>
					<key>Identifier</key>
					<string>&lt;x-apple-reminderkit://REMCDList/1E8226AF-52CC-43E2-AD89-0E9010ACA706&gt;</string>
					<key>IsAllCalendar</key>
					<false/>
					<key>Title</key>
					<string>🏛️ LifeOS Maintenance</string>
				</dict>
				<key>WFCalendarItemCalendar</key>
				<string>🏛️ LifeOS Maintenance</string>
				<key>WFCalendarItemNotes</key>
				<string></string>
				<key>WFCalendarItemTitle</key>
				<string>✔️ Review journals (tags)</string>
				<key>WFParentTask</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>New Reminder</string>
						<key>OutputUUID</key>
						<string>89B23543-305A-4AF8-BE15-F717CEA352CB</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFPriority</key>
				<string>High</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.addnewreminder</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>E9830511-CFB7-4FA2-86DD-4E2F47D3F3E1</string>
				<key>WFAlertCustomTime</key>
				<string></string>
				<key>WFAlertEnabled</key>
				<string>No Alert</string>
				<key>WFCalendarDescriptor</key>
				<dict>
					<key>Identifier</key>
					<string>&lt;x-apple-reminderkit://REMCDList/1E8226AF-52CC-43E2-AD89-0E9010ACA706&gt;</string>
					<key>IsAllCalendar</key>
					<false/>
					<key>Title</key>
					<string>🏛️ LifeOS Maintenance</string>
				</dict>
				<key>WFCalendarItemCalendar</key>
				<string>🏛️ LifeOS Maintenance</string>
				<key>WFCalendarItemNotes</key>
				<string></string>
				<key>WFCalendarItemTitle</key>
				<string>✔️ Review periodic review notebook</string>
				<key>WFParentTask</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>New Reminder</string>
						<key>OutputUUID</key>
						<string>89B23543-305A-4AF8-BE15-F717CEA352CB</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFPriority</key>
				<string>High</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.addnewreminder</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>7E3171FC-996A-4D2B-96B1-359991C355A6</string>
				<key>WFAlertCustomTime</key>
				<string></string>
				<key>WFAlertEnabled</key>
				<string>No Alert</string>
				<key>WFCalendarDescriptor</key>
				<dict>
					<key>Identifier</key>
					<string>&lt;x-apple-reminderkit://REMCDList/1E8226AF-52CC-43E2-AD89-0E9010ACA706&gt;</string>
					<key>IsAllCalendar</key>
					<false/>
					<key>Title</key>
					<string>🏛️ LifeOS Maintenance</string>
				</dict>
				<key>WFCalendarItemCalendar</key>
				<string>🏛️ LifeOS Maintenance</string>
				<key>WFCalendarItemNotes</key>
				<string></string>
				<key>WFCalendarItemTitle</key>
				<string>✔️ Review memories in photos</string>
				<key>WFParentTask</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>New Reminder</string>
						<key>OutputUUID</key>
						<string>89B23543-305A-4AF8-BE15-F717CEA352CB</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFPriority</key>
				<string>High</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.addnewreminder</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>4383C3CC-8F82-4E13-B6CF-C7E8C7604E1C</string>
				<key>WFAlertCustomTime</key>
				<string></string>
				<key>WFAlertEnabled</key>
				<string>No Alert</string>
				<key>WFCalendarDescriptor</key>
				<dict>
					<key>Identifier</key>
					<string>&lt;x-apple-reminderkit://REMCDList/1E8226AF-52CC-43E2-AD89-0E9010ACA706&gt;</string>
					<key>IsAllCalendar</key>
					<false/>
					<key>Title</key>
					<string>🏛️ LifeOS Maintenance</string>
				</dict>
				<key>WFCalendarItemCalendar</key>
				<string>🏛️ LifeOS Maintenance</string>
				<key>WFCalendarItemNotes</key>
				<string></string>
				<key>WFCalendarItemTitle</key>
				<string>✔️ Review calendar</string>
				<key>WFParentTask</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>New Reminder</string>
						<key>OutputUUID</key>
						<string>89B23543-305A-4AF8-BE15-F717CEA352CB</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFPriority</key>
				<string>High</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.addnewreminder</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>995C99BF-AD3B-43B0-B336-241794E97483</string>
				<key>WFAlertCustomTime</key>
				<string></string>
				<key>WFAlertEnabled</key>
				<string>No Alert</string>
				<key>WFCalendarDescriptor</key>
				<dict>
					<key>Identifier</key>
					<string>&lt;x-apple-reminderkit://REMCDList/1E8226AF-52CC-43E2-AD89-0E9010ACA706&gt;</string>
					<key>IsAllCalendar</key>
					<false/>
					<key>Title</key>
					<string>🏛️ LifeOS Maintenance</string>
				</dict>
				<key>WFCalendarItemCalendar</key>
				<string>🏛️ LifeOS Maintenance</string>
				<key>WFCalendarItemNotes</key>
				<string>1. Stop X → Start Y, Things I want to minimize, What do I wish I'd done less of?
2. Go All-In, Things I want to maximize, What do I wish I'd done more of?</string>
				<key>WFCalendarItemTitle</key>
				<string>✔️ Write down "❌ Anti To-Do List" ¹ &amp; " ✅ Double Down List" ²</string>
				<key>WFParentTask</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>New Reminder</string>
						<key>OutputUUID</key>
						<string>89B23543-305A-4AF8-BE15-F717CEA352CB</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFPriority</key>
				<string>High</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.addnewreminder</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>209783A6-33E6-4061-8591-E4ABDF0D35E3</string>
				<key>WFAlertCustomTime</key>
				<string></string>
				<key>WFAlertEnabled</key>
				<string>No Alert</string>
				<key>WFCalendarDescriptor</key>
				<dict>
					<key>Identifier</key>
					<string>&lt;x-apple-reminderkit://REMCDList/1E8226AF-52CC-43E2-AD89-0E9010ACA706&gt;</string>
					<key>IsAllCalendar</key>
					<false/>
					<key>Title</key>
					<string>🏛️ LifeOS Maintenance</string>
				</dict>
				<key>WFCalendarItemCalendar</key>
				<string>🏛️ LifeOS Maintenance</string>
				<key>WFCalendarItemNotes</key>
				<string></string>
				<key>WFCalendarItemTitle</key>
				<string>✔️ Ask myself questions from the "💭 Journal Prompt" list</string>
				<key>WFParentTask</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>New Reminder</string>
						<key>OutputUUID</key>
						<string>89B23543-305A-4AF8-BE15-F717CEA352CB</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFPriority</key>
				<string>High</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>2A9F31B5-2B9B-4BF4-B07F-52C2D3A4C6F9</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>791F134D-413D-44CF-B667-E7DCB30BEF61</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>8A7DAF4B-9740-436A-BB1E-6BC33C18EC58</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.exit</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>3303.0.4</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>2846468607</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFAppContentItem</string>
		<string>WFAppStoreAppContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFFolderContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFImageContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFLocationContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFAVAssetContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFRichTextContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array/>
</dict>
</plist>
