<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>A44CCCB3-323E-4C70-8837-47E055D73515</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>B1695645-9ABA-4489-88D4-47BE57B98735</string>
					<key>workflowName</key>
					<string>Generate Shortcuts Library Stats</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Generate Shortcuts Library Stats</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>7C7D75AC-F2F2-4F69-A5FC-2E1B6F3B436E</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>94954EF5-4855-47FE-A57C-DC1E8B5D7B5B</string>
					<key>workflowName</key>
					<string>Plot Shortcut Library Stats Charts</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Plot Shortcut Library Stats Charts</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>6B828A5E-FE0E-4C77-8047-CE18CED1A304</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>0456BB76-4328-474D-8376-B0B514FF0AEE</string>
					<key>workflowName</key>
					<string>Generate Shortcuts Library Folder Structure</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Generate Shortcuts Library Folder Structure</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.location</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>8EE0031B-4CC1-40FC-9F9B-FD9459DA0554</string>
				<key>WFLocation</key>
				<dict>
					<key>isCurrentLocation</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Location</string>
				<key>UUID</key>
				<string>A405A6B2-E4B3-4BCE-B01A-C3DA01BC9324</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>PropertyName</key>
										<string>City</string>
										<key>PropertyUserInfo</key>
										<string>city</string>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Location</string>
								<key>OutputUUID</key>
								<string>8EE0031B-4CC1-40FC-9F9B-FD9459DA0554</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{3, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>PropertyName</key>
										<string>Country</string>
										<key>PropertyUserInfo</key>
										<string>country</string>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Location</string>
								<key>OutputUUID</key>
								<string>8EE0031B-4CC1-40FC-9F9B-FD9459DA0554</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼, ￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.Christopher-Hannah.Text-Case.TextCaseIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>ShowWhenRun</key>
				<false/>
				<key>UUID</key>
				<string>CE2EEA51-53B2-4547-B07B-1913D615D079</string>
				<key>format</key>
				<string>smallCaps</string>
				<key>text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Location</string>
								<key>OutputUUID</key>
								<string>A405A6B2-E4B3-4BCE-B01A-C3DA01BC9324</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.urlencode</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>E65DE540-8B49-4450-868D-F7B8CD44238D</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{34, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Location</string>
								<key>OutputUUID</key>
								<string>A405A6B2-E4B3-4BCE-B01A-C3DA01BC9324</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>https://www.google.com/maps/place/￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>dk.simonbs.DataJar.GetValueIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>94D04A17-1E2B-4037-A41C-62A1DD18E6CB</string>
				<key>keyPath</key>
				<string>My Vault Repos.Apple-Shortcuts-Gallery</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>baseURL</string>
				<key>UUID</key>
				<string>944E4468-0EA7-4F99-8924-93023761E53F</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDictionaryContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>DictionaryKey</key>
										<string>repoURL</string>
										<key>Type</key>
										<string>WFDictionaryValueVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Value</string>
								<key>OutputUUID</key>
								<string>94D04A17-1E2B-4037-A41C-62A1DD18E6CB</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼/tree/main/All Shortcuts</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.urlencode</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>💾 Backup My Shortcuts Library</string>
				<key>UUID</key>
				<string>F3EB48D1-9589-4F53-A7A5-0AE6D362CADF</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>baseURL</string>
								<key>OutputUUID</key>
								<string>944E4468-0EA7-4F99-8924-93023761E53F</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼/Getting Things Done/💾 Backup My Shortcuts Library</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.urlencode</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Generate Shortcuts Library Stats</string>
				<key>UUID</key>
				<string>C8ED04CD-1CAA-4460-A17C-11F3C1CB786C</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>baseURL</string>
								<key>OutputUUID</key>
								<string>944E4468-0EA7-4F99-8924-93023761E53F</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼/Getting Things Done/Generate Shortcuts Library Stats</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.urlencode</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Plot Shortcuts Library Stats Chart</string>
				<key>UUID</key>
				<string>A727A317-B356-46B0-93B5-F475F403F7CD</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>baseURL</string>
								<key>OutputUUID</key>
								<string>944E4468-0EA7-4F99-8924-93023761E53F</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼/Getting Things Done/Plot Shortcuts Library Stats Chart</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.urlencode</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Generate Shortcuts Library Folder Structure</string>
				<key>UUID</key>
				<string>381CD87E-18CD-4EAF-B135-D9E42208689C</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>baseURL</string>
								<key>OutputUUID</key>
								<string>944E4468-0EA7-4F99-8924-93023761E53F</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼/Getting Things Done/Generate Shortcuts Library Folder Structure</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>EE16FC85-7004-4BFA-8DCD-EB9002C7C95B</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{1000, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Shortcut Result</string>
								<key>OutputUUID</key>
								<string>6B828A5E-FE0E-4C77-8047-CE18CED1A304</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{1732, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>💾 Backup My Shortcuts Library</string>
								<key>OutputUUID</key>
								<string>F3EB48D1-9589-4F53-A7A5-0AE6D362CADF</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{1798, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Generate Shortcuts Library Stats</string>
								<key>OutputUUID</key>
								<string>C8ED04CD-1CAA-4460-A17C-11F3C1CB786C</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{1860, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Plot Shortcuts Library Stats Chart</string>
								<key>OutputUUID</key>
								<string>A727A317-B356-46B0-93B5-F475F403F7CD</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{1926, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Generate Shortcuts Library Folder Structure</string>
								<key>OutputUUID</key>
								<string>381CD87E-18CD-4EAF-B135-D9E42208689C</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{325, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormatStyle</key>
										<string>ISO 8601</string>
										<key>WFISO8601IncludeTime</key>
										<false/>
									</dict>
								</array>
								<key>Type</key>
								<string>CurrentDate</string>
							</dict>
							<key>{408, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Formatted Text</string>
								<key>OutputUUID</key>
								<string>CE2EEA51-53B2-4547-B07B-1913D615D079</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{411, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>URL Encoded Text</string>
								<key>OutputUUID</key>
								<string>E65DE540-8B49-4450-868D-F7B8CD44238D</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{630, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Shortcut Result</string>
								<key>OutputUUID</key>
								<string>A44CCCB3-323E-4C70-8837-47E055D73515</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{74, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDictionaryContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>DictionaryKey</key>
										<string>repoURL</string>
										<key>Type</key>
										<string>WFDictionaryValueVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Value</string>
								<key>OutputUUID</key>
								<string>94D04A17-1E2B-4037-A41C-62A1DD18E6CB</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string># Welcome to my  Apple's Shortcuts Gallery! ¹

&lt;p align="left"&gt;
&lt;a href="￼"&gt;&lt;img src="https://badges.frapsoft.com/os/v3/open-source.svg" alt="Open Source Love"&gt;&lt;/a&gt;&lt;br/&gt;
&lt;img src="https://img.shields.io/badge/Contribution_Welcome-blue?style=plastic" alt="Contribution Welcome"&gt;&lt;/a&gt;&lt;br/&gt;
&lt;/p&gt;

&gt; [!NOTE]  
&gt; **Last Update:** ￼  
&gt;
&gt; Created by [Hua-Ming Huang](https://github.com/huaminghuangtw) with ❤️ in [￼](￼)  
&gt;
&gt; _[Check out](https://github.com/huaminghuangtw/Scriptable) my other repository for customizable notifications and widgets created with [Scriptable](https://scriptable.app)!_  

## 📊 Shortcuts Library Stats ²

￼

&lt;br&gt;

&lt;p align="center"&gt;
    &lt;a href="https://chartyios.app"&gt;
        &lt;kbd&gt;
            &lt;img src="./stats-chart.png" alt="stats-chart" width="500" title="This chart was generated by Charty, an utility app to create charts from Shortcuts! :-)"/&gt;
        &lt;/kbd&gt;
    &lt;/a&gt;
    &lt;p align="center"&gt;Overview of This Year&lt;/p&gt;
&lt;/p&gt;

## 📂 Shortcuts Library Folder Structure ⁴

￼

## 🙏 Acknowledgments

This library wouldn't be possible without [r/shortcuts](https://www.reddit.com/r/shortcuts) and the following incredible Shortcuts-enhancing apps:

- [Data Jar](https://datajar.app)
- [Scriptable](https://scriptable.app)
- [Actions](https://sindresorhus.com/actions)
- [Toolbox Pro](https://toolboxpro.app)
- [Pushcut](https://www.pushcut.io)
- [Charty](https://chartyios.app)
- [Day Progress](https://sindresorhus.com/day-progress)
- [Any Text](https://sindresorhus.com/any-text)
- [Working Copy](https://workingcopy.app)
- [Flow](https://www.flow.app)
- [Caffeinated](https://caffeinated.app)
- [Text Case](https://textcase.app)

---

&lt;sub&gt;1. The whole GitHub repository was generated by [this Shortcut](￼).&lt;/sub&gt;  
&lt;sub&gt;2. This section was generated by [this Shortcut](￼).&lt;/sub&gt;  
&lt;sub&gt;3. This chart was created by [this Shortcut](￼).&lt;/sub&gt;  
&lt;sub&gt;4. This section was generated by [this Shortcut](￼).&lt;/sub&gt;  
</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setitemname</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>A9B5CD47-AD12-4938-8D41-BD7D185B53DA</string>
				<key>WFDontIncludeFileExtension</key>
				<true/>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Text</string>
						<key>OutputUUID</key>
						<string>EE16FC85-7004-4BFA-8DCD-EB9002C7C95B</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFName</key>
				<string>README.md</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.file</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Backup Folder</string>
				<key>UUID</key>
				<string>708650EB-7182-4CB7-9FCB-B46754DFD0D1</string>
				<key>WFFile</key>
				<dict>
					<key>displayName</key>
					<string>Backup</string>
					<key>fileLocation</key>
					<dict>
						<key>WFFileLocationType</key>
						<string>Shortcuts</string>
						<key>appContainerBundleIdentifier</key>
						<string>com.apple.shortcuts</string>
						<key>crossDeviceItemID</key>
						<string>docs.icloud.com:com.apple.CloudDocs/6136C63D-6C16-4E02-8B81-2C1DC7B8E122/8a4afb8001b63f5891da8af15101fb7eadd46f81</string>
						<key>fileProviderDomainID</key>
						<string>com.apple.CloudDocs.iCloudDriveFileProvider/8CD4A3FB-3479-45CB-829A-CE2FA3119626</string>
						<key>relativeSubpath</key>
						<string>Backup</string>
					</dict>
					<key>filename</key>
					<string>Backup</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.documentpicker.save</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>F24A8AC7-9503-43FE-93AE-5523FFE86823</string>
				<key>WFAskWhereToSave</key>
				<false/>
				<key>WFFolder</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Backup Folder</string>
						<key>OutputUUID</key>
						<string>708650EB-7182-4CB7-9FCB-B46754DFD0D1</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Renamed Item</string>
						<key>OutputUUID</key>
						<string>A9B5CD47-AD12-4938-8D41-BD7D185B53DA</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSaveFileOverwrite</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.exit</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>3303.0.4</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>2846468607</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFStringContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>1106</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>1106</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array/>
</dict>
</plist>
